In [ ]:

#? قم بتطبيق الخطوات التالية في قاعدة البيانات
#* - قراءتها
#* - تنظيفها  و إزالة اي قيم nulls
#! - استخراج كل الاحصائيات الممكنة
#! - عمل اي رسوم بيانية تراها مناسبة 
#! - استخراج معلومات و قرارات منها بكل ما تراه مناسبا

In [ ]:

#? علي أن يحتوي الكود علي : 
#! - عدد 3 فنكشن علي الاقل
#! - تستخدم قاعدة إف و فور مرة واحدة لكل منهما علي الأقل
#! - تستخدم ال dictionary  مرتين علي الاقل
#! - تستخدم ال set  مرة علي الاقل
#! - تستخدم ميثود groupby  مرة علي الاقل من مكتبة بانداس
#! - يجب أن يتم كتابة تعليقات توضيحية لكل جزء من الكود لتفسير ما يحدث او التعليق علي النتائج

#Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Importing Data And Exploration

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Read the data
#path = '/content/drive/MyDrive/Python Colab/01 Summer22_FootballTransfers.csv'
#path = '/content/01 Summer22_FootballTransfers.csv'
#df_train = pd.read_csv(path)
df_train = pd.read_csv('/content/Summer22_FootballTransfers.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Show Data Details
df_train.head(10)

In [ ]:
#check the decoration
df_train.columns

In [ ]:
#  Show Data Info
df_train.info()

In [ ]:
# Show Data Description
df_train.describe(include='all').round(2)

In [ ]:
# Data Cleaning
df_train.isna().sum()

In [ ]:
df_train.dropna(inplace=True)
df_train.isna().sum()

In [ ]:
#converting 'age' from float to int
df_train['age'] = df_train['age'].apply(np.int64)

In [ ]:
# Data After Cleaning
df_train.head(10)

# Cost Coverter

In [ ]:
df_train['cost'].replace({'€': '', '\.': ' '}, regex=True, inplace=True)
df_train['cost'].replace({' ': '', 'm': '0000', 'Th': '000'},
                      regex=True, inplace=True)

#Groupby

In [ ]:
# applying groupby() function to
# group the data on position value.
df_train.groupby(['position'])['name'].count()

In [ ]:
df_train.groupby(['position'])['cost'].mean()

In [ ]:
df_train.std()

#Analysis And Visualization

In [ ]:
#histogram
sns.distplot(df_train['age']);

In [ ]:
#histogram
#IBRAHIM
sns.distplot(df_train['cost']);

In [ ]:
# Plotting Data Using Groupby Method Postion 
df_train.groupby('position').size().plot(kind='bar')
plt.show()

#Players with Highest Age

In [ ]:
# Plotting Age With Circle Size

label = 'Less Than 20 Years', 'Between 20 and 25 Years', 'Between 25 and 30 Years', 'Between 30 and 35 Years', 'Larger Than 35 Years'

size = [df_train[df_train['age'] < 20]['age'].count(), df_train[(df_train['age'] >= 20) & (df_train['age'] <= 25)]['age'].count(),  df_train[(df_train['age'] >= 25) & (
    df_train['age'] <= 30)]['age'].count(), df_train[(df_train['age'] >= 30) & (df_train['age'] <= 35)]['age'].count(), df_train[df_train['age'] > 35]['age'].count()]
plt.legend( label, loc="best")
explode = (0, 0.1, 0.1, 0.2, 0)
colours = ['orange', 'green', 'blue', 'yellow', 'red']

patches, texts = plt.pie(size, colors=colours, shadow=True, startangle=90)
plt.legend(patches, label, loc="best")
plt.axis('equal')
plt.show()

In [ ]:
#Putting the players with the high age in a data frame
#IBRAHIM
Players_high_age = df_train[df_train['age']>=38].loc[:,['name','position','age'	,'origin_club','new_club','cost',	'date_of_transfer']]

In [ ]:
Players_high_age

In [ ]:
#showing the describtion of the high age data frame
#Ibrahim
Players_high_age.describe().T

In [ ]:
Players_high_age.info

In [ ]:
Players_high_age.info()

In [ ]:
#changing cost datatype to int
#Ibrahim
Players_high_age["cost"] = Players_high_age["cost"].astype(int)

In [ ]:
#Check if there is any outliers in players age
#Ibrahim
sns.boxplot(y= 'age' ,data=Players_high_age);

In [ ]:
#Check if there is any outliers in players cost
#Ibrahim
sns.boxplot(y= 'cost' ,data=Players_high_age);

In [ ]:
#Ibrahim
highest_age =Players_high_age.sort_values('age',ascending=False)[:10]
highest_age

In [ ]:
#Ibrahim
print('the following figure will descripe the data of the top 10 players age \n')
sns.barplot(y='name',x='age',data=highest_age);

In [ ]:
#Ibrahim
sns.scatterplot(y='name',x='origin_club', size ='cost',data=highest_age);

In [ ]:
#Ibrahim
high_cost_high_age =Players_high_age.sort_values('cost',ascending=False)[:10]
high_cost_high_age

In [ ]:
#Ibrahim
print('the following figure will descripe the data of the top 10 players cost \n')
sns.barplot(y='name',x='cost',data=high_cost_high_age);

In [ ]:
#Ibrahim
sns.scatterplot(y='name',x='origin_club', size ='cost',data=high_cost_high_age);

#Players with Highest Cost

In [ ]:
#changing cost datatype to int
#Ibrahim
df_train["cost"] = df_train["cost"].astype(int)

In [ ]:
#Check if there is any outliers in players cost
#Ibrahim
sns.boxplot(y= 'cost' ,data=df_train);

In [ ]:
#Ibrahim
df_train.sort_values('cost',ascending=False)[:30]

In [ ]:
#Putting the players with the high cost in a data frame
#Ibrahim
Players_high_cost = df_train[df_train['cost']>=40000000].loc[:,['name','position','age','cost'	,'origin_club','new_club',	'date_of_transfer']]
Players_high_cost

In [ ]:
#Ibrahim
highest_cost = Players_high_cost.sort_values('cost',ascending=False)[:30]
highest_cost

In [ ]:
#Ibrahim
highest_cost.describe().T

In [ ]:
#Ibrahim
highest_cost.info

In [ ]:
highest_cost.info()

In [ ]:
#Ibrahim
print('the following figure will descripe the data of the top 10 players cost \n')
sns.barplot(y='name',x='cost',data=highest_cost);

In [ ]:
#Ibrahim
sns.scatterplot(y='name',x='new_club', size ='cost',data=highest_cost);

#list and set

In [ ]:
#Ibrahim

Players_high_cost_list = df_train[df_train['cost']>=40000000].loc[:,['name']]
Players_high_cost_list

In [ ]:
#Ibrahim

high_cost_names = list(Players_high_cost_list['name'])
high_cost_names

In [ ]:
#Ibrahim

Players_high_cost_set1 = df_train[df_train['cost']>=40000000].loc[:,['name','cost']]
Players_high_cost_set1

In [ ]:
#Ibrahim

high_cost_set = (Players_high_cost_set1['name'],Players_high_cost_set1['cost']);
high_cost_set

In [ ]:
#Ibrahim

Players_high_cost_set2 = df_train[df_train['cost']>=40000000].loc[:,['name','new_club']]
Players_high_cost_set2

In [ ]:
high_cost_nclubs = (Players_high_cost_set2['name'],Players_high_cost_set2['new_club'])
high_cost_nclubs

# First Function : calculate the max cost of players using the dictionary.

In [ ]:
# Ahmed 
def maxCostPayment():
  # select items from pandas dataframe
  newdf = df_train.head(35000)
  # convert newdf to dictionary by to_dict function
  dic = newdf.to_dict(orient="index")
  maxcost = 0
  player = 0
  # loop on dictionary to search the max cost of players
  for i in dic:
    # check if the maxcost less than the current cost and assign the current cost to maxcost
    if(int(dic[i]['cost']) > maxcost):
      player = dic[i]
      maxcost = int(dic[i]['cost'])
  #  print the max cost of players
  print(player)
# call maxCostPayment function
maxCostPayment()

# Second Function: get countries that players moved to it Using 'Sets'

In [ ]:
# Ahmed
def getCountries():
  s = set(df_train['country_new_club'])
  print(len(s))
  for i in s:
    print(i)
  # print(len(s))
  return

getCountries()

# Third Function : get players thier age between two numbers using dictionary.

In [ ]:
# Ahmed
def agesBetween(_from, _to):
  # select items from pandas dataframe
  newdf = df_train.head(35000)
  # convert newdf to dictionary by to_dict function
  dic = newdf.to_dict(orient="index")
  # loop on dictionary to search the players their age between _from and _to
  for i in dic:
    # check if the age is greater than _from argument and  less than _to argument.
    if int(dic[i]['age']) >= _from and int(dic[i]['age']) <= _to :
      print(dic[i]['name'])
# call agesBetween function
agesBetween(40,45)

In [ ]:
# function to get New Club / Country / League and Total Cost Of Players
# param : club or country or league , cost
# return : dictionary of club or country or league and total cost of players

def get_club_country_league_cost(club_country_league, club_country_league_cost):
    club_country_league_cost_dict = {}
    for i in df_train[club_country_league].value_counts().index:
        club_country_league_cost_dict.update(
            {i: df_train[df_train[club_country_league] == i][club_country_league_cost].astype(int).sum()})
    # print('Done')
    return club_country_league_cost_dict

# function to sort dictionary by value
# param : dictionary
# return : sorted dictionary
def sort_dict_by_value(dict, isReverse=False):
    return sorted(dict.items(), key=lambda x: x[1], reverse=isReverse)



club_cost = get_club_country_league_cost('league_new_club','cost')
# club_cost_sorted = sort_dict_by_value(club_cost,True)

# Information from and about the dataset.

### Dataset size before clening is 33625
### Dataset size after clening is 27027
### Players moved to 139 countries
### Players moved to 461 leagues
### Players moved to 6141 clubs
### Italy is the country to which players move the most
### 4950 players without club
### Centre-Back is the most popular position
### defence is the least available position
### max age in the dataset is 45
### min age in the dataset is 15
### the mean age in the dataset is 24.6
### The start date of the transfer of players is 1/7/2022
### The end date of the transfer of players is 1/9/2022
### Erling Haaland is the most expensive player among the players, with a price of 150 million euros